In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/part_1.csv", sep="[,;:]", index_col=False)
df.tail()

/tmp/ipykernel_216566/1149116417.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/part_1.csv", sep="[,;:]", index_col=False)

Empty DataFrame
Columns: [Empty Dataset]
Index: []

In [6]:
df.shape

(0, 1)

In [17]:
df.dtypes

track_id         int64
 type           object
 traveled_d    float64
 avg_speed     float64
 lat           float64
 lon           float64
 speed         float64
 lon_acc       float64
 lat_acc       float64
 time          float64
dtype: object

In [18]:
df.describe()

,track_id,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
count,922.000000,922.000000,922.000000,922.000000,922.000000,922.000000,922.000000,922.000000,922.000000
mean,461.500000,289.670954,21.442594,37.979616,23.735713,26.665285,0.027862,-0.029128,375.451193
std,266.302773,156.386219,10.812071,0.001116,0.000877,12.093874,0.640003,0.286584,256.324209
min,1.000000,9.370000,0.096770,37.977138,23.734913,0.000000,-6.686200,-3.285300,0.000000
25%,231.250000,169.640000,13.817063,37.978412,23.735084,18.487350,-0.020950,-0.061575,129.850000
50%,461.500000,283.355000,19.847800,37.980103,23.735482,27.282050,0.021200,-0.005650,390.300000
75%,691.750000,459.822500,28.778046,37.980609,23.735838,34.904025,0.073225,0.035575,595.850000
max,922.000000,502.330000,52.992695,37.980657,23.738231,71.491100,7.680200,1.743800,813.400000